.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.bookStyle{
  background-color: #272932;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
